.pageimg{
    height: 100vh;
    object-fit: contain;
}
.company-header {
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    background-color: transparent;
}
.companyLogo{
    margin: auto;
    display: block;
}
.company-form {
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 20px;
    background-color: transparent;
    border: 2px solid black;
}

.errormsg {
    color: red;
}

.subbtn {
    width: 100px;
    border-radius: 20px;
    background-color: #F14722;
}

.subbtn:hover {
    background-color: #239B99;
    animation: btnani 1s;
}

@keyframes btnani {
    from {
        background-color: #F14722;
    }

    to {
        background-color: #239B99;
    }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#selection{
    width: 100%;
    height: 50px;
    border-radius: 10px;
}
#selection:hover , .custom-file-input:hover{
    border-image: linear-gradient(to right, #F14722, #239B99) 1
}
input[type="radio"] {
    cursor: pointer;
    margin-right: 23px;
    width: 55px;
    height: 22px;
}
select{
    background-color: transparent;
}
label{
    color: black;
}
/* .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    content: 'Upload Your Resume';
    display: inline-block;
    border: 1px solid #999;
    border-radius: 10px;
    padding: 16px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
    width: 100%;
  }
  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  } */